
.Title {
    position: fixed;
    top: 200px;
    left: 500px;
width: 185px;
height: 71px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

color: #051367;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.TitleBox{
    position: fixed;
    top: 150px;
    left: 500px;
width: 280px;
height: 80px;
}

.RewardBox{
    position: fixed;
    top: 250px;
    left: 1000px;
    width: 192px;
    height: 150px;
    
    background: #5D8BF4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 0px;
}

.RewardTitle {
    position: fixed;
    left: 1050px;
    top: 250px;
    width: 133px;
    height: 36px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RewardPoints {
    position: fixed;
    left: 1050px;
    top: 280px;
width: 88px;
height: 30px;

font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RewardStar{
    position: absolute;
width: 36px;
height: 39px;

background: #FFD700;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.ButtonRedeem {
    position: fixed;
    top: 350px;
    left: 1050px;
    border:none;
    width: 100px;
    height: 30px;
    background-color: #FFF;
}

.textName {
    position: fixed;
    top: 150px;
    left: 650px;
    width: 650px;
    height: 71px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #051367;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cvvButton {
    position: fixed;
    top: 250px;
    left: 650px;
    border:none;
    width: 100px;
    height: 30px;
    background-color: #051367;
    color: #fff;
}


.freezeButton {
    position: fixed;
    top: 350px;
    left: 650px;
    border:none;
    width: 100px;
    height: 30px;
    background-color: #051367;
    color: #fff;
}

.setpinButton {
    position: fixed;
    top: 450px;
    left: 650px;
    border:none;
    width: 100px;
    height: 30px;
    background-color: #051367;
    color: #fff;
}

